.headerMain {
  color: #fff;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.8);
  background-image: url("https://images.unsplash.com/photo-1484353371297-d8cfd2895020?q=80&w=2079&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover; /* Remove quotes */
  background-position: center; /* Remove quotes */
  object-fit: cover; /* Remove 's' */
  position: relative;
  min-height: 500px; /* Change minHeight to adapt better for smaller screens */
}

/* Sign In Button Styles */
.signInBtn {
  position: absolute;
  top: 20px; /* Adjust distance from top */
  right: 20px; /* Adjust distance from right */
}

/* Media Query for Responsive Design */
@media (max-width: 768px) {
  .headerMain {
    min-height: 300px; /* Adjust minHeight for smaller screens */
  }
}